services:
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    networks:
      - mern
  backend:
    build: ./backend
    ports:
      - "5050:5050"
    networks:
      - mern
    environment:
      - MONGODB_URI=mongodb://mongo:27017
    depends_on:
      mongo:
        condition: service_healthy
  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    networks:
      - mern
    volumes:
      - mongo-data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.runCommand({ ping: 1 })"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  mern:
    driver: bridge

volumes:
  mongo-data:
    driver: local
